html {
    text-align: center;
}
body {
    font-family: Ubuntu, Helvetica, Serif;
    margin: auto;
    text-align: left;
    color: #42717C;
}

header {
    padding: 3em;
    margin-bottom: 3em;
    border-bottom: 3px solid #609EAF;
}

header, footer {
    text-align: center;
    background-color: #71B4C7;
    color: #ffffff;
}

footer {
    padding: 1.5em;
    margin-top: 1.5em;
}

h1 {
    font-size: 3em;
}
h1 span {
    text-shadow: 0 0 8px #E9AF5B;
    color: #FFE8C9;
}
h1, h2 {
    margin: 0;
}

h3 {
    border-bottom: 1px solid #548B99;
}
h4 {
    margin: 1em 0 0 0;
    font-size: 1em;
}
p {
    margin: .5em 0;
}
a {
    color: #C45092;
}

header > img {
    float: right;
    width: 250px;
    margin-top: -50px;
}

main {
    max-width: 800px;
    margin: auto;
}

blockquote {
    font-style: italic;
    margin: 0;
    background-color: #f6f6f6;
    padding: 2em 1em;
    border: 1px dotted #ccc;
}
