html {
    text-align: center;
}
body {
    margin: auto;
    text-align: left;
    color: #42717C;
    font-family: 'Playfair Display', Helvetica, Serif;
}

header {
    position: relative;
    font-family: Lobster, Helvetica, Serif;
    padding: 2.5em 2em 0 2em;
    margin-bottom: 3em;
    border-bottom: 3px solid #609EAF;
    text-shadow: 2px 0 #71B4C7, -2px 0 #71B4C7, 0 2px #71B4C7, 0 -2px #71B4C7;
}

header, footer {
    text-align: center;
    background-color: #71B4C7;
    color: #ffffff;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center
}
nav li {
    display: inline-block;
}
nav li a {
    color: inherit;
    text-decoration: inherit;
    font-size: 1.2em;
    margin: 0 .3em;
    padding: 0 .3em;
}
nav li a:hover {
    text-decoration: underline;
}
nav li:not(:last-child):after {
    content: "•";
    font-size: 1.5em;
}

footer {
    padding: 1.5em;
    margin-top: 1.5em;
}
footer a {
    color: #fff;
}

h1 {
    font-size: 3em;
}
h1 span {
    text-shadow: 0 0 8px #E9AF5B;
    color: #FFE8C9;
}
h1, h2 {
    margin: 0;
}

h3 {
    border-bottom: 1px solid #548B99;
    font-family: Lobster, Helvetica, Serif;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}
h4 {
    margin: 1em 0 0 0;
    font-size: 1em;
}
p {
    margin: .5em 0;
}
a {
    color: #C45092;
}

header img {
    width: 120px;
}

h3 a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted inherit;
    line-height: 5px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0 2em;
}

blockquote {
    font-style: italic;
    margin: 0;
    background-color: #f6f6f6;
    padding: 2em 1em;
    border: 1px dotted #ccc;
}
